{% extends 'customer/base.html' %}
{% block content %}
{% load static %}
<style>
  form {
    margin: 0 auto;
    border: 10px solid #f1f1f1;
    width:400px
  }

  hr {
    border: 1px solid lightgrey;
  }
</style>

<form action="/customer_portal/confirmed/" method="post">
  {% csrf_token %}

  <div class="imgcontainer">
    <img src="{% static 'images/car001.jpeg' %}" alt="Avatar" class="avatar">
  </div>

  <div style="padding: 16px">
    
    <label for="p_location"><b>Pick-up Location at {{p_location.city}}</b></label>
    <input class="w3-input" type="text" value="{{p_location.street_address}}" name="p_location" required>

    <label for="d_location"><b>Drop-off Location</b></label>
    <select name="d_location" style="width: 300px;">
      <option>-</option>
      <optgroup label="Brookyln">
        <option value="100 High St">100 High St</option>
        <option value="90 Bond St">90 Bond St</option>
      </optgroup>
      <optgroup label="New Jersey">
        <option value="70 Greene St">70 Greene St</option>
        <option value="225 Grand St">225 Grand St</option>
      </optgroup>
    </select>
    <hr>

    <label for="model"><b>Choose Your Car</b></label>
    <select name="model" style="width: 300px;">
      {% for item in vehicle %}
      <option value={{item.model}}>{{item.make}} {{item.model}}</option>
      {% endfor %}
    </select>
    <hr>

    <label for="p_date"><b>Pick-up Date</b></label>
    <input class="w3-input" type="date" name="p_date" required>

    <label for="d_date"><b>Drop-off Date</b></label>
    <input class="w3-input" type="date" name="d_date" required>
    <br><br>
    <input class="w3-btn w3-red" type="submit" value="confirm" ><br><br>
    
  </div>
</form>

{% endblock %}

