{% extends 'customer/base.html' %}
{% block content %}
{% load static %}
{% csrf_token %}

<style>
  form {
      margin: 0 auto;
      border: 10px solid #f1f1f1;
      width:400px
  }
  .container {
      padding: 16px;
  }
  .invoice{
    font-weight: bold;
  }

</style>

<form>
  <div class="imgcontainer">
    <img src="{% static 'images/car001.jpeg' %}" alt="Avatar" class="avatar">
  </div>
  
  <div class="container">
    <p>Invoice infomation</p>
    <p>Service id : <span class="invoice">{{rental_service.id}}</span></p>
    <p>Invoice amount : <span class="invoice">{{invoice.invoice_amount}}</span></p>
    <p>Invoice date: <span class="invoice">{{invoice.invoice_date}}</span></p>
    <a class="w3-bar-item w3-btn w3-teal w3-left" href="/customer_portal/pay/">Pay Now</a>
    <br><br>
    
  </div>

</form>










<!-- <div class="w3-display-container" style="height:400px;">
  <div class="w3-display-middle">


 <h3>Invoice </h3> 

 invoice_amount : {{invoice.invoice_amount}}<br><br>

 <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_portal/pay/">Pay Now</a>

  -->




<!-- duration : {{order.days}} days<br><br>
car-dealer : {{order.car_dealer.car_dealer.first_name}} {{order.car_dealer.car_dealer.last_name}}<br><br>
car-dealer contact no: {{order.car_dealer.mobile}}<br><br>  -->
<!-- </div>
</div> -->
{% endblock %}
