{% extends 'customer/base.html' %}
{% block content %}
{% csrf_token %}
<style>
  form {
    margin: 0 auto;
    border: 12px solid #f1f1f1;
    width:500px
  }
  .container {
    padding: 16px;
  }
</style>


<form action="/customer_portal/registration/" method="POST">

    <div class="container" style="font-weight: bold;">
        <p>Username: {{user.username}}</p><hr>
        <p>First Name: {{individual.first_name}}</p><hr>
        <p>Last Name: {{individual.last_name}}</p><hr>
        <p>Phone: {{individual.phone}}</p><hr>
        <p>email: {{individual.email}}</p><hr>
        <p>Address: {{individual.street}}, {{individual.city}}, {{individual.state}}, {{individual.zipcode}}</p><hr>
        <p>Customer Type: {{individual.customer_type}}</p><hr>
        <p>Driver Licience: {{individual.dln}}</p><hr>
        <p>Insurance Name: {{individual.ins_name}}</p><hr>
        <p>Insurance Number: {{individual.ins_no}}</p><hr>
    </div>


  <!-- <div class="container">
    <label for="username"><b>Username</b></label>
    <input class="w3-input" type="text" placeholder="Enter Username" name="username" required>
    <br>
    <label for="first_name"><b>First Name</b></label>
    <input class="w3-input" type="text" placeholder="Enter First Name" name="first_name" required>
    <br>
    <label for="last_name"><b>Last Name</b></label>
    <input class="w3-input" type="text" placeholder="Enter Last Name" name="last_name" required>
    <br>
    <label for="password"><b>Password</b></label>
    <input class="w3-input" type="password" placeholder="Set Password" name="password" required>
     <br>
    <label for="customer_type"><b>Type</b></label>
    <input class="w3-input" type="text" placeholder="Enter Type" name="customer_type" required>
    <br>
    <label for="email"><b>Email Address</b></label>
    <input class="w3-input" type="text" placeholder="Enter Email" name="email" required>
    <br>
    <label for="phone"><b>Phone</b></label>
    <input class="w3-input" type="text" placeholder="Enter Phone" name="phone" required>
    <br>
    <label for="street"><b>Street</b></label>
    <input class="w3-input" type="text" placeholder="Enter Street" name="street" required>
    <br>
    <label for="city"><b>City</b></label>
    <input class="w3-input" type="text" placeholder="Enter City" name="city" required>
    <br>
    <label for="state"><b>State</b></label>
    <input class="w3-input" type="text" placeholder="Enter State" name="state" required>
    <br>
    <label for="zipcode"><b>Zipcode</b></label>
    <input class="w3-input" type="text" placeholder="Enter Zipcode" name="zipcode" required>
    <br>
    <label for="dln"><b>Driver Licience</b></label>
    <input class="w3-input" type="text" placeholder="Enter dln" name="dln" required>
    <br>
    <label for="ins_name"><b>Insurance Company Name</b></label>
    <input class="w3-input" type="text" placeholder="Enter name" name="ins_name" required>
    <br>
    <label for="ins_no"><b>Insurance number</b></label>
    <input class="w3-input" type="text" placeholder="Enter number" name="ins_no" required>
    <br>
    

  </div>

  <div class="container" style="background-color:#f1f1f1">
    <input class="w3-btn w3-teal" type="submit"><br><br>
  </div> -->
</form>


{% endblock %}
