{% extends 'customer/base1.html' %}
{% block content %}
{% csrf_token %}
<div>
  <a class="w3-bar-item w3-right w3-btn w3-teal" href="/customer_portal/login/">Login</a>
  <a class="w3-bar-item w3-right w3-btn w3-teal" href="/">Home</a>
</div>

<style>
  form {
      margin: 0 auto;
      border: 10px solid #f1f1f1;
      width:400px
  }
  .container {
      padding: 16px;
  }

</style>

<form>
  <div class="container">
      <p>Registered successfully!</p>
      <p>Now go to the <a class="w3-btn w3-teal" href="/customer_portal/login/">login page<a> and login !</p>
  </div>

</form>
{% endblock %}
