{% extends 'customer/base1.html' %}
{% block content %}

<style>
  form {
    margin: 0 auto;
    border: 10px solid #f1f1f1;
    width:600px
  }
  .container {
    padding: 16px;
  }
</style>

<!-- <div class="w3-container w3-teal">
  <h1 class="w3-center">Welcom to WOW Family<h1>
</div> -->

<div class="w3-bar">
  <a class="w3-bar-item w3-right w3-btn w3-teal" href="/customer_portal/login/">Login</a>
  <a class="w3-bar-item w3-right w3-btn w3-teal" href="/">Home</a>
</div>


<h3 style="text-align: center;">Sign Up</h3>

<form action="/customer_portal/registration/" method="POST">{% csrf_token %}

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input class="w3-input" type="text" placeholder="Enter Username" name="username" required>
    <br>
    <label for="first_name"><b>First Name</b></label>
    <input class="w3-input" type="text" placeholder="Enter First Name" name="first_name" required>
    <br>
    <label for="last_name"><b>Last Name</b></label>
    <input class="w3-input" type="text" placeholder="Enter Last Name" name="last_name" required>
    <br>
    <label for="password"><b>Password</b></label>
    <input class="w3-input" type="password" placeholder="Set Password" name="password" required>
     <br>
    <label for="customer_type"><b>Type</b></label>
    <input class="w3-input" type="text" placeholder="Enter Type" name="customer_type" required>
    <br>
    <label for="email"><b>Email Address</b></label>
    <input class="w3-input" type="text" placeholder="Enter Email" name="email" required>
    <br>
    <label for="phone"><b>Phone</b></label>
    <input class="w3-input" type="text" placeholder="Enter Phone" name="phone" required>
    <br>
    <label for="street"><b>Street</b></label>
    <input class="w3-input" type="text" placeholder="Enter Street" name="street" required>
    <br>
    <label for="city"><b>City</b></label>
    <input class="w3-input" type="text" placeholder="Enter City" name="city" required>
    <br>
    <label for="state"><b>State</b></label>
    <input class="w3-input" type="text" placeholder="Enter State" name="state" required>
    <br>
    <label for="zipcode"><b>Zipcode</b></label>
    <input class="w3-input" type="text" placeholder="Enter Zipcode" name="zipcode" required>
    <br>
    <label for="dln"><b>Driver Licience</b></label>
    <input class="w3-input" type="text" placeholder="Enter dln" name="dln" required>
    <br>
    <label for="ins_name"><b>Insurance Company Name</b></label>
    <input class="w3-input" type="text" placeholder="Enter name" name="ins_name" required>
    <br>
    <label for="ins_no"><b>Insurance number</b></label>
    <input class="w3-input" type="text" placeholder="Enter number" name="ins_no" required>
    <br>
    

  </div>

  <div class="container" style="background-color:#f1f1f1">
    <input class="w3-btn w3-teal" type="submit"><br><br>
  </div>
</form>
















<!-- <div class="w3-bar">
  <h3 class="w3-bar-item w3-left">Registration Form</h3>
  <a class="w3-bar-item w3-right w3-btn w3-teal" href="/customer_portal/login/">Login</a>
  <a class="w3-bar-item w3-right w3-btn w3-teal" href="/">Home</a>
</div>

<div class="w3-display-container"  style="height:1000px;">
<div class="w3-display-middle">

<form class="w3-container" action="/customer_portal/registration/" method="POST">{% csrf_token %}
  <lable>FirstName : </lable><input class="w3-input" type="text" name="first_name"><br><br>
  <lable>LastName : </lable><input class="w3-input" type="text" name="last_name"><br><br>
  <lable>Username : </lable><input class="w3-input" type="text" name="username"><br><br>
  <lable>Password : </lable><input class="w3-input" type="password" name="password"><br><br>
  <lable>Email : </lable><input class="w3-input" type="text" name="email"><br><br>
  <lable>Street : </lable><input class="w3-input" type="text" name="street"><br><br>
  <lable>Zipcode : </lable><input class="w3-input" type="text" name="zipcode"><br><br>
  <lable>CustomerType : </lable><input class="w3-input" type="text" name="customer_type"><br><br>
  <lable>State : </lable><input class="w3-input" type="text" name="state"><br><br>
  <lable>Phone : </lable><input class="w3-input" type="text" name="phone"><br><br>
  <lable>City : </lable><input class="w3-input" type="text" name="city"><br><br>
  <input class="w3-btn w3-teal" type="submit"><br><br>
</form>

</div>
</div> -->
{% endblock %}
