{% extends 'customer/base.html' %}
{% block content %}
{% load static %}
{% csrf_token %}
<style>
  .service{
    font-weight:bold
  }
</style>

<form>
  <div class="container" style="background-color:#f1f1f1">
      <div class="imgcontainer">
        <img src="{% static 'images/car003.jpeg' %}" alt="Avatar" class="avatar">
      </div>
      <p>Your current service is running </p>
      <p><a href="/customer_portal/return/">Return</a> / 
      <a href="/customer_portal/invoice/">Pay</a> 
      before starting a new rent</p>
  </div>

  <div class="container">
    <span>Current rental infomation</span>
    <br><br>
    Service id: <span class="service">{{rental_service.id}}</span><br><br>
    Car type: <span class="service">{{vehicle_class.vehicle_type}}</span><br><br>
    Start date: <span class="service">{{rental_service.p_date}}</span><br><br>
    Return date: <span class="service">{{rental_service.d_date}}</span><br><br>
    Cost/day: <span class="service">${{vehicle_class.rent_charge}}</span><br><br>
  </div> 

</form>

<!-- <div class="w3-display-container" style="height:400px;">
  <div class="w3-display-middle">


 <h3>Rent failed</h3> 
 

duration : {{order.days}} days<br><br>
car-dealer : {{order.car_dealer.car_dealer.first_name}} {{order.car_dealer.car_dealer.last_name}}<br><br>
car-dealer contact no: {{order.car_dealer.mobile}}<br><br> 
</div>
</div> -->
{% endblock %}