{% extends 'customer/base.html' %}
{% block content %}
{% load static %}
{% csrf_token %}


<div class="w3-display-container" style="height:400px;">
  <div class="w3-display-middle">
  
  <form class="w3-container" action="/customer_portal/return_detail/" method="POST">{% csrf_token %}

    <div class="imgcontainer">
      <img src="{% static 'images/car001.jpeg' %}" alt="Avatar" class="avatar">
    </div>

    <p>Your Service Infomation</p> 
    service_id : {{rental_service.id}}<br><br>
    <lable>Please enter current odometer :</lable> 
    <input class="w3-input" type="text" name="e_odometer"><br>
    <input class="w3-btn w3-teal" type="submit" value="return"><br><br>
  </form>
  <br><br>
  </div>
</div>
{% endblock %}
