{% extends 'customer/base.html' %}
{% block content %}

{% csrf_token %}

<style>
  form {
      margin: 0 auto;
      border: 10px solid #f1f1f1;
      width:400px
  }
  .container {
      padding: 16px;
  }

</style>

<form>

  <div class="imgcontainer">
    <img src="{% static 'images/car.jpg' %}" alt="Avatar" class="avatar">
  </div>
  
  <div class="container">
      <p>No rental service found</p>
      <p>Click <a href="/customer_portal/rent/">here<a> to start your rental service</p>
      <p></p>
  </div>

</form>

<!-- <div class="w3-display-container" style="height:400px;">
  <div class="w3-display-middle">


 <h3>Return failed</h3> 

 

duration : {{order.days}} days<br><br>
car-dealer : {{order.car_dealer.car_dealer.first_name}} {{order.car_dealer.car_dealer.last_name}}<br><br>
car-dealer contact no: {{order.car_dealer.mobile}}<br><br> 
</div>
</div> -->
{% endblock %}